<h1>Make your form here</h1>
<form action="/pirate" method="post">
  <p>Pirate Name: <input type="text"id = "pirate_name" name="pirate[name]"></p>
  <p>Pirate Weight: <input type="text" id = "pirate_weight" name="pirate[weight]"></p>
  <p>Pirate Height: <input type="text" id = "pirate_height" name="pirate[height]"></p>
  <p>Ship 1 Name: <input type="text" id = "ship_name_1" name="pirate[ships][][name]"></p>
  <p>Ship 1 Type : <input type="text" id = "ship_type_1" name="pirate[ships][][type]"></p>
  <p>Ship 1 Booty: <input type="text" id = "ship_booty_1" name="pirate[ships][][booty]"></p>
  <p>Ship 1 Name: <input type="text" id = "ship_name_2" name="pirate[ships][][name]"></p>
  <p>Ship 1 Type: <input type="text" id = "ship_type_2" name="pirate[ships][][type]"></p>
  <p>Ship 1 Booty: <input type="text" id = "ship_booty_2" name = "pirate[ships][][booty]"></p>

  <input type="submit">
</form>
